# Node / package managers
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json

# Build output
dist/
.vite/
.cache/
.cache-loader/

# Env & local config
.env
.env.*.local
*.local

# OS / Editor
.DS_Store
Thumbs.db
*.swp
.idea/
.vscode/
*.code-workspace

# Logs
logs/
*.log
*.log.*
