.plot-container {
  margin: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
  width: 250; /* Match the width in your React component layout */
  height: 350; /* Match the height in your React component layout */
  overflow: hidden; /* Prevent overflow */
}

.plots-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center the plots horizontally */
  gap: 20px; /* Adjust gap between plots */
  overflow-x: auto; /* Enable horizontal scrolling if needed */
}

@media (max-width: 1200px) {
  .plots-container {
    flex-direction: column; /* Stack plots vertically on smaller screens */
    align-items: center; /* Center plots vertically */
    overflow-x: hidden; /* Disable horizontal scrolling */
  }

  .plot-container {
    width: 90%; /* Adjust width for smaller screens */
    max-width: 350px; /* Maximum width for smaller screens */
    height: 250px; /* Adjust height for smaller screens */
    margin-bottom: 20px; /* Add margin between plots */
  }
}
